<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Anime torrent aggregator">
    <meta name="theme-color" content="#494f5c">
    <link rel="stylesheet" href="/static/css.css">
    <link rel="icon" href="/static/favicon.svg">
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
